<div class="sidebar-agency-list">
  <ul class="usa-accordion">
    <li>
      <button class="usa-accordion-button"
        aria-expanded="false"
        aria-controls="a1">
      View by Agency
      </button>
      <div id="a1" class="usa-accordion-content catalog-agency-list">
        <ul>
          {% for item in site.agencies %}
          <li>
            <a href="{{ site.baseurl }}{{ item.url }}" title="{{ item.tooltip }}">{{ item.title }}</a>
          </li>
          <hr>
          {% endfor %}
        </ul>
      </div>
    </li>
  </ul>
  <ul class="usa-accordion">
    <li>
      <button class="usa-accordion-button"
        aria-expanded="false"
        aria-controls="a2">
        View by Field of Science
      </button>
      <div id="a2" class="usa-accordion-content catalog-agency-list">
        <fieldset>
          <ul id="fields-of-science-checkboxes">
            <!-- our list of fields of science will be rendered here -->
            <hr>
          </ul>
        </fieldset>
      </div>
    </li>
  </ul>
</div>

<script type="text/javascript">
  function reRenderResults() {
    $(".catalog-project-list").hide();
    var checkedCheckboxes = $.each($("input[type='checkbox']:checked");

    // Loop through all Projects
    // and display the projects that satisfy the Filter criterion
    $.each($(".catalog-project-list"), function(i, project) {
      var project = $(project);
      var topics = project.attr("data-project-topic");
      var status = project.attr("data-project-status");
      var agency = project.attr("data-project-agency");

      $.each(checkedCheckboxes, function(j, checkedCheckbox) {
        var checkboxValue = checkedCheckbox.value.toLowerCase();
        console.log(j, checkedCheckbox, checkboxValue);

        // for Active/Complete Checkboxes
        var foundStatus = topics.match(new RegExp(status, 'i'));
        if(foundStatus) {
          project.show()
        }

        // for Agency Checkboxes
        var foundAgency = topics.match(new RegExp(agency, 'i'));
        if(foundAgency) {
          project.show()
        }

        // for Fields of Science Checkboxes
        var found = topics.match(new RegExp(checkboxValue, 'i'));
        if(found) {
          project.show()
        }
      });
    });
  }

  $(function() {
    var fieldsOfScience = [
      "Animals",
      "Archeology and cultural",
      "Astronomy and space",
      "Biology",
      "Birds",
      "Chemistry",
      "Climate and weather",
      "Computers and technology",
      "Disaster response",
      "Ecology and environment",
      "Education",
      "Food",
      "Geography",
      "Geology and earth science",
      "Health and medicine",
      "Nature and outdoors",
      "Ocean/water and marine",
      "Physics",
      "Pollinators/insects",
      "Psychology",
      "Science policy",
      "Social science",
      "Transportation"
    ]

    $.each(fieldsOfScience, function(i, fieldOfScience) {
      var li = $("<li>");
      var checkbox = $('<input id="checkbox-' + i + '" type="checkbox" value="' + fieldOfScience + '">');
      var label = $('<label for="checkbox-' + i + '">');
      label.text(fieldOfScience);
      li.append(checkbox);
      li.append(label);

      $("#fields-of-science-checkboxes").prepend(li);
    });

    var checkboxes = $("input[type='checkbox']");
    checkboxes.on("click", function() {
      reRenderResults();
    });
  });
</script>
