
    <p><span class="project-field">Fields of science: </span>
      {% if page.project_topic contains "Animals" %}
        Animals,
      {% endif %}
      {% if page.project_topic contains "archeology" %}
        Archeology and cultural,
      {% endif %}
      {% if page.project_topic contains "astronomy_space" %}
        Astronomy and space,
      {% endif %}
      {% if page.project_topic contains "biology" %}
        Biology,
      {% endif %}
      {% if page.project_topic contains "birds" %}
        Birds,
      {% endif %}
      {% if page.project_topic contains "chemistry" %}
        Chemistry,
      {% endif %}
      {% if page.project_topic contains "climate_weather" %}
        Climate and weather,
      {% endif %}
      {% if page.project_topic contains "computers_technology" %}
        Computers and technology,
      {% endif %}
      {% if page.project_topic contains "disaster_response" %}
        Disaster response,
      {% endif %}
      {% if page.project_topic contains "ecology_environment" %}
        Ecology and environment,
      {% endif %}
      {% if page.project_topic contains "education" %}
        Education,
      {% endif %}
      {% if page.project_topic contains "food" %}
        Food,
      {% endif %}
      {% if page.project_topic contains "geography" %}
        Geography,
      {% endif %}
      {% if page.project_topic contains "geology_earth_science" %}
        Geology and earth science,
      {% endif %}
      {% if page.project_topic contains "health_medicine" %}
        Health and medicine,
      {% endif %}
      {% if page.project_topic contains "nature_outdoors" %}
        Nature and outdoors,
      {% endif %}
      {% if page.project_topic contains "ocean_water" %}
        Ocean/water and marine,
      {% endif %}
      {% if page.project_topic contains "physics" %}
        Physics,
      {% endif %}
      {% if page.project_topic contains "insects" %}
        Pollinators/insects,
      {% endif %}
      {% if page.project_topic contains "psychology" %}
        Psychology,
      {% endif %}
      {% if page.project_topic contains "science_policy" %}
        Science policy,
      {% endif %}
      {% if page.project_topic contains "social_science" %}
        Social science,
      {% endif %}
      {% if page.project_topic contains "transportation" %}
        Transportation,
      {% endif %}
      {% if page.project_topic contains "other" %}
        Other,
      {% endif %}
    </p>
