
    <p><span class="project-field">Fields of Science:  </span>
      {% if item.project_topic contains "Animals" or item.project_topic contains "Animals" %}
        Animals,
      {% endif %}
      {% if item.project_topic contains "archeology" or item.project_topic contains "Archeology and cultural" %}
        Archeology and cultural,
      {% endif %}
      {% if item.project_topic contains "astronomy_space" or item.project_topic contains "Astronomy and space" %}
        Astronomy and space,
      {% endif %}
      {% if item.project_topic contains "biology" or item.project_topic contains "Biology" %}
        Biology,
      {% endif %}
      {% if item.project_topic contains "birds" or item.project_topic contains "Birds" %}
        Birds,
      {% endif %}
      {% if item.project_topic contains "chemistry" or item.project_topic contains "Chemistry" %}
        Chemistry,
      {% endif %}
      {% if item.project_topic contains "climate_weather" or item.project_topic contains "Climate and weather" %}
        Climate and weather,
      {% endif %}
      {% if item.project_topic contains "computers_technology" or item.project_topic contains "Computers and technology" %}
        Computers and technology,
      {% endif %}
      {% if item.project_topic contains "disaster_response" or item.project_topic contains "Disaster response" %}
        Disaster response,
      {% endif %}
      {% if item.project_topic contains "ecology_environment" or item.project_topic contains "Ecology and environment" %}
        Ecology and environment,
      {% endif %}
      {% if item.project_topic contains "education" or item.project_topic contains "Education" %}
        Education,
      {% endif %}
      {% if item.project_topic contains "food" or item.project_topic contains "Food" %}
        Food,
      {% endif %}
      {% if item.project_topic contains "geography" or item.project_topic contains "Geography" %}
        Geography,
      {% endif %}
      {% if item.project_topic contains "geology_earth_science" or item.project_topic contains "Geology and earth science" %}
        Geology and earth science,
      {% endif %}
      {% if item.project_topic contains "health_medicine" or item.project_topic contains "Health and medicine" %}
        Health and medicine,
      {% endif %}
      {% if item.project_topic contains "nature_outdoors" or item.project_topic contains "Nature and outdoors" %}
        Nature and outdoors,
      {% endif %}
      {% if item.project_topic contains "ocean_water" or item.project_topic contains "Ocean/water and marine" %}
        Ocean/water and marine,
      {% endif %}
      {% if item.project_topic contains "physics" or item.project_topic contains "Physics" %}
        Physics,
      {% endif %}
      {% if item.project_topic contains "insects" or item.project_topic contains "Pollinators/insects" %}
        Pollinators/insects,
      {% endif %}
      {% if item.project_topic contains "psychology" or item.project_topic contains "Psychology" %}
        Psychology,
      {% endif %}
      {% if item.project_topic contains "science_policy" or item.project_topic contains "Science policy" %}
        Science policy,
      {% endif %}
      {% if item.project_topic contains "social_science" or item.project_topic contains "Social science" %}
        Social science,
      {% endif %}
      {% if item.project_topic contains "transportation" or item.project_topic contains "Transportation" %}
        Transportation,
      {% endif %}
    </p>
