
    <p><span class="project-field">Participation Tasks: </span>
      {% if page.participation_tasks contains "annotation" or page.participation_tasks contains "Annotation" %}
        Annotation,
      {% endif %}
      {% if page.participation_tasks contains "audio_video_recording" or page.participation_tasks contains "Audio or Video Recording" %}
        Audio or video recording,
      {% endif %}
      {% if page.participation_tasks contains "classification_tagging" or page.participation_tasks contains "Classification or Tagging" %}
        Classification or tagging,
      {% endif %}
      {% if page.participation_tasks contains "diy_hacking_making" or page.participation_tasks contains "DIY Hacking/Making" %}
        DIY hacking/making,
      {% endif %}
      {% if page.participation_tasks contains "data_analysis" or page.participation_tasks contains "Data Analysis" %}
        Data analysis,
      {% endif %}
      {% if page.participation_tasks contains "data_entry" or page.participation_tasks contains "Data Entry" %}
        Data entry,
      {% endif %}
      {% if page.participation_tasks contains "download_sw" or page.participation_tasks contains "Download Software for Distributed Computing Projects" %}
        Download software for distributed computing projects,
      {% endif %}
      {% if page.participation_tasks contains "finding_entities" or page.participation_tasks contains "Finding Entities" %}
        Finding entities,
      {% endif %}
      {% if page.participation_tasks contains "geolocation" or page.participation_tasks contains "Geolocation" %}
        Geolocation,
      {% endif %}
      {% if page.participation_tasks contains "identification" or page.participation_tasks contains "Identification" %}
        Identification,
      {% endif %}
      {% if page.participation_tasks contains "learning" or page.participation_tasks contains "Learning" %}
        Learning,
      {% endif %}
      {% if page.participation_tasks contains "measurement" or page.participation_tasks contains "Measurement" %}
        Measurement,
      {% endif %}
      {% if page.participation_tasks contains "observation" or page.participation_tasks contains "Observation" %}
        Observation,
      {% endif %}
      {% if page.participation_tasks contains "photography" or page.participation_tasks contains "Photography" %}
        Photography,
      {% endif %}
      {% if page.participation_tasks contains "problem_solving" or page.participation_tasks contains "Problem Solving" %}
        Problem solving,
      {% endif %}
      {% if page.participation_tasks contains "sample_analysis" or page.participation_tasks contains "Sample Analysis" %}
        Sample analysis,
      {% endif %}
      {% if page.participation_tasks contains "site_selection_description" or page.participation_tasks contains "Site Selection and/or Description" %}
        Site selection and/or description,
      {% endif %}
      {% if page.participation_tasks contains "specimen_sample_collection" or page.participation_tasks contains "Specimen/Sample Collection" %}
        Specimen/sample collection,
      {% endif %}
      {% if page.participation_tasks contains "transcription" or page.participation_tasks contains "Transcription" %}
        Transcription,
      {% endif %}
      {% if page.participation_tasks contains "other" %}
        Other,
      {% endif %}
    </p>
