
	{% if item.agency_sponsor contains "usgs" or item.agency_sponsor contains "U.S. Geological Survey (USGS)" %}
  		<img src="{{ site.baseurl }}/assets/img/agency-logos/usgs.jpg" alt="USGS logo" height="40px" title="USGS">
	{% endif %}

	{% if item.agency_sponsor contains "nsf" or item.agency_sponsor contains "National Science Foundation (NSF)" %}
  		<img src="{{ site.baseurl }}/assets/img/agency-logos/nsf.png" alt="NSF logo" height="40px" title="NSF">
	{% endif %}

	{% if item.agency_sponsor contains "bureau_land_management_blm" or item.agency_sponsor contains "Bureau of Land Management (BLM)" %}
  		<img src="{{ site.baseurl }}/assets/img/agency-logos/blm.jpg" alt="BLM logo" height="40px" title="BLM">
	{% endif %}

	{% if item.agency_sponsor contains "nasa" or item.agency_sponsor contains "National Aeronautics and Space Administration (NASA)" %}
  		<img src="{{ site.baseurl }}/assets/img/agency-logos/nasa.jpg" alt="NASA logo" height="40px" title="NASA">
	{% endif %}

	{% if item.agency_sponsor contains "usfs" or item.agency_sponsor contains "U.S. Forest Service (USFS)" %}
  		<img src="{{ site.baseurl }}/assets/img/agency-logos/usfs.png" alt="USFS logo" height="40px" title="USFS">
	{% endif %}

	{% if item.agency_sponsor contains "noaa" or item.agency_sponsor contains "National Oceanic and Atmospheric Administration (NOAA)" %}
  		<img src="{{ site.baseurl }}/assets/img/toolkit-images/logos/noaa-logo-150x150.jpg" alt="NOAA logo" height="40px" title="NOAA">
	{% endif %}

	{% if item.agency_sponsor contains "fish_wildlife_service" or item.agency_sponsor contains "U.S. Fish and Wildlife Service" %}
  		<img src="{{ site.baseurl }}/assets/img/toolkit-images/logos/usfws-logo-251x300.png" alt="Fish and Wildlife Service logo" height="40px" title="Fish & Wildlife Service">
	{% endif %}

	{% if item.agency_sponsor contains "nps" or item.agency_sponsor contains "National Park Service (NPS)" %}
  		<img src="{{ site.baseurl }}/assets/img/agency-logos/nps.png" alt="NPS logo" height="40px" title="NPS">
	{% endif %}

	{% if item.agency_sponsor contains "doa" or item.agency_sponsor contains "U.S. Department of Agriculture" %}
  		<img src="{{ site.baseurl }}/assets/img/toolkit-images/logos/usda-logo-300x213.jpg" alt="USDA logo" height="40px" title="USDA">
	{% endif %}

	{% if item.agency_sponsor contains "dod" or item.agency_sponsor contains "Department of Defense (DOD)" %}
  		<img src="{{ site.baseurl }}/assets/img/toolkit-images/logos/dod-logo-150x150.png" alt="DOD logo" height="40px" title="DOD">
	{% endif %}

	{% if item.agency_sponsor contains "nih" or item.agency_sponsor contains "National Institutes of Health (NIH)" %}
  		<img src="{{ site.baseurl }}/assets/img/toolkit-images/logos/nih-logo.png" alt="NIH logo" height="40px" title="NIH">
	{% endif %}

	{% if item.agency_sponsor == "epa" or item.agency_sponsor contains "U.S. Environmental Protection Agency (EPA)" %}
  		<img src="{{ site.baseurl }}/assets/img/toolkit-images/logos/epa-logo-150x150.jpg" alt="EPA logo" height="40px" title="EPA">
	{% endif %}

	{% if item.agency_sponsor contains "nara" or item.agency_sponsor contains "National Archives and Records Administration (NARA)" %}
  		<img src="{{ site.baseurl }}/assets/img/toolkit-images/logos/nara-logo-150x150.png" alt="National Archives logo" height="40px" title="NARA">
	{% endif %}

	{% if item.agency_sponsor contains "food__drug_administration" or item.agency_sponsor contains "Food and Drug Administration" %}
  		<img src="{{ site.baseurl }}/assets/img/agency-logos/fda.png" alt="FDA logo" height="40px" title="FDA">
	{% endif %}

	{% if item.agency_sponsor contains "center__disease_control" or item.agency_sponsor contains "Center for Disease Control" %}
  		<img src="{{ site.baseurl }}/assets/img/agency-logos/cdc.png" alt="CDC logo" height="40px" title="CDC">
	{% endif %}

	{% if item.agency_sponsor contains "assi" or item.agency_sponsor contains "Smithsonian Institution (SI)" %}
  		<img src="{{ site.baseurl }}/assets/img/toolkit-images/logos/smithsonian-logo-150x150.jpg" alt="ASSI logo" height="40px" title="Smithsonian Institute">
	{% endif %}

	{% if item.agency_sponsor contains "department_homeland_security" or item.agency_sponsor contains "Department of Homeland Security" %}
  		<img src="{{ site.baseurl }}/assets/img/toolkit-images/logos/dhs-logo-150x150.jpg" alt="DHS logo" height="40px" title="DHS">
	{% endif %}

	{% if item.agency_sponsor contains "iarpa" or item.agency_sponsor contains "Intelligence Advanced Research Projects Agency" %}
  		<img src="{{ site.baseurl }}/assets/img/toolkit-images/logos/iarpa-logo-150x150.png" alt="IARPA logo" height="40px" title="IARPA">
	{% endif %}

	{% if item.agency_sponsor contains "doi" or item.agency_sponsor contains "U.S. Department of the Interior (DOI)" %}
  		<img src="{{ site.baseurl }}/assets/img/toolkit-images/logos/doi-logo-150x150.png" alt="DOI logo" height="40px" title="DOI">
	{% endif %}

	{% if item.agency_sponsor contains "usaid" or item.agency_sponsor contains "U.S. Agency for International Development (USAID)" %}
  		<img src="{{ site.baseurl }}/assets/img/agency-logos/usaid.png" alt="USAID logo" height="40px" title="USAID">
	{% endif %}

	{% if item.agency_sponsor contains "doe" or item.agency_sponsor contains "Department of Energy (DOE)" %}
  		<img src="{{ site.baseurl }}/assets/img/toolkit-images/logos/doe-seal-logo-150x150.png" alt="DOE logo" height="40px" title="DOE">
	{% endif %}

	{% if item.agency_sponsor contains "usstate" or item.agency_sponsor contains "Department of State" %}
  		<img src="{{ site.baseurl }}/assets/img/agency-logos/state.png" alt="State Dept. logo" height="40px" title="State Dept">
	{% endif %}

	{% if item.agency_sponsor contains "peace_corps" or item.agency_sponsor contains "Peace Corps" %}
  		<img src="{{ site.baseurl }}/assets/img/agency-logos/peace_corps.png" alt="Peace Corps logo" height="40px" title="Peace Corps">
	{% endif %}

	{% if item.agency_sponsor contains "federal_communications_commission" or item.agency_sponsor contains "Federal Communications Commission" %}
  		<img src="{{ site.baseurl }}/assets/img/toolkit-images/logos/fcc-logo-300x252.png" alt="FCC logo" height="40px" title="FCC">
	{% endif %}

	{% if item.agency_sponsor contains "department_housing_urban_development" or item.agency_sponsor contains "Department of Housing and Urban Development" %}
  		<img src="{{ site.baseurl }}/assets/img/agency-logos/hud.png" alt="HUD logo" height="40px" title="HUD">
	{% endif %}

	{% if item.agency_sponsor contains "census" or item.agency_sponsor contains "Census" %}
  		<img src="{{ site.baseurl }}/assets/img/agency-logos/census.png" alt="Census logo" height="40px" title="Census">
	{% endif %}


	



	


















