<div class="sidebar-agency-list">
  <ul class="usa-accordion">
    <li>
      <button class="usa-accordion-button"
        aria-expanded="false"
        aria-controls="a1">
      View by Agency
      </button>
      <div id="a1" class="usa-accordion-content catalog-agency-list">
        <ul>
          {% for item in site.agencies %}
          <li>
            <a href="{{ site.baseurl }}{{ item.url }}" title="{{ item.tooltip }}">{{ item.title }}</a>
          </li>
          <hr>
          {% endfor %}
        </ul>
      </div>
    </li>
  </ul>
  <ul class="usa-accordion">
    <li>
      <button class="usa-accordion-button"
        aria-expanded="false"
        aria-controls="a2">
        View by Field of Science
      </button>
      <div id="a2" class="usa-accordion-content catalog-agency-list">
        <ul id="fields-of-science-checkboxes">
          <!-- our list of fields of science will be rendered here -->
          <hr>
        </ul>
      </div>
    </li>
  </ul>
</div>

<script type="text/javascript">
  $(function() {
    var fieldsOfScience = [
      "Animals",
      "Archeology and cultural",
      "Astronomy and space",
      "Biology",
      "Birds",
      "Chemistry",
      "Climate and weather",
      "Computers and technology",
      "Disaster response",
      "Ecology and environment",
      "Education",
      "Food",
      "Geography",
      "Geology and earth science",
      "Health and medicine",
      "Nature and outdoors",
      "Ocean/water and marine",
      "Physics",
      "Pollinators/insects",
      "Psychology",
      "Science policy",
      "Social science",
      "Transportation"
    ]
    
    $.each(fieldsOfScience, function(i, fieldOfScience) {
      var li = $("<li>");
      li.text(fieldOfScience),
      $("#fields-of-science-checkboxes").prepend(li);
    });
  });
</script>
