<div class="usa-section usa-grid">

	<h1>{{ page.title }}</h1>
	<h3 class ="project-field">Number of Projects: {% include catalog-agency-project-count.html %}</h3>

{% for item in site.catalog-projects %}
	{% if item.agency_sponsor contains page.agency_sponsor %}
				<div class="usa-width-one-whole agency-list">
					{% else %}
					<div style="display: none;">
						{% endif %}
						<article>
								<div class="infos">
									<a href="{{ item.url | prepend: site.baseurl }}" class="details">
										<h3 class="title">{{ item.project_name }}</h3>
									</a>
								</div>
						</article>
					</div>
{% endfor %}
</div>