	
	<p><span class="project-field">Project Status: </span>



		


{% comment %} Legacy CartoDB Fields {% endcomment %}

  		{% if page.status contains "active" or page.status contains "Active" %}
			{% assign status = 'Active' %}
		{% endif %}
			
  		{% if page.status contains "complete" or page.status contains "Complete" %}
			{% assign status = 'Complete' %}
		{% endif %}
			
  		{% if page.status contains "hiatus" or page.status contains "Hiatus" %}
			{% assign status = 'Hiatus or on hold' %}
		{% endif %}
			
  		{% if page.status contains "pending" or page.status contains "Pending" %}
			{% assign status = 'In Planning or Pending' %}
		{% endif %}
			
  		{% if page.status contains "active_but_seasonal" or page.status contains "Periodically Active" %}
			{% assign status = 'Periodically active' %}
		{% endif %}


		{% if page.recruiting == true %}
  			{% assign recruiting = ' - recruiting volunteers' %}
		{% endif %}

		{% if page.recruiting == false %}
  			{% assign recruiting = ' - not recruiting volunteers' %}
		{% endif %}
			
		{{ status }}{{ recruiting }}
    </p>




		
  	
			