
    <p><span class="project-field">Participation Tasks: </span>
      {% if page.participation_tasks contains "annotation" %}
        Annotation,
      {% endif %}
      {% if page.participation_tasks contains "audio_video_recording" %}
        Audio or video recording,
      {% endif %}
      {% if page.participation_tasks contains "classification_tagging" %}
        Classification or tagging,
      {% endif %}
      {% if page.participation_tasks contains "diy_hacking_making" %}
        DIY hacking/making,
      {% endif %}
      {% if page.participation_tasks contains "data_analysis" %}
        Data analysis,
      {% endif %}
      {% if page.participation_tasks contains "data_entry" %}
        Data entry,
      {% endif %}
      {% if page.participation_tasks contains "download_sw" %}
        Download software for distributed computing projects,
      {% endif %}
      {% if page.participation_tasks contains "finding_entities" %}
        Finding entities,
      {% endif %}
      {% if page.participation_tasks contains "geolocation" %}
        Geolocation,
      {% endif %}
      {% if page.participation_tasks contains "identification" %}
        Identification,
      {% endif %}
      {% if page.participation_tasks contains "learning" %}
        Learning,
      {% endif %}
      {% if page.participation_tasks contains "measurement" %}
        Measurement,
      {% endif %}
      {% if page.participation_tasks contains "observation" %}
        Observation,
      {% endif %}
      {% if page.participation_tasks contains "photography" %}
        Photography,
      {% endif %}
      {% if page.participation_tasks contains "problem_solving" %}
        Problem solving,
      {% endif %}
      {% if page.participation_tasks contains "sample_analysis" %}
        Sample analysis,
      {% endif %}
      {% if page.participation_tasks contains "site_selection_description" %}
        Site selection and/or description,
      {% endif %}
      {% if page.participation_tasks contains "specimen_sample_collection" %}
        Specimen/sample collection,
      {% endif %}
      {% if page.participation_tasks contains "transcription" %}
        Transcription,
      {% endif %}
      {% if page.participation_tasks contains "other" %}
        Other,
      {% endif %}
    </p>
