
  <form id="search_form" class="usa-search usa-search-small" action="https://search.usa.gov/search" accept-charset="UTF-8" method="get">

  	<input type="hidden" name="sitelimit" id="sitelimit" value="citizenscience.gov/">

  	<input name="utf8" type="hidden" value="&#x2713;" />

	<label class="usa-sr-only" for="search-field-small">Search small</label>

    <input type="hidden" name="affiliate" id="affiliate" value="citizenscience.gov" />

    <input type="search" name="query" id="search-field-small" autocomplete="off" class="usagov-search-autocomplete"/>

    <button type="submit">
        <span class="usa-sr-only">Search</span>

  </form>