<footer class="usa-footer usa-footer-slim" role="contentinfo">
  <div class="usa-footer-primary-section">
    <div class="usa-grid">
      <nav class="usa-footer-nav usa-width-two-thirds">
        <ul class="usa-unstyled-list">
          <li class="usa-width-one-fourth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="{{ site.baseurl }}/toolkit/accessibility">Accessibility</a>
          </li>
           </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>