.catalog-title {
	margin-top: 45px;
}

.project-field {
	color: #ed6d42;
}

.parent-container {
	display: flex;
	padding: 3em 8em 4em;
}

.entry-container{
	padding-left: 2em;
	padding-right: 2em;
}

.entry-lists-container {
	display: flex;
	justify-content: space-between;
}

.search-container {
	padding-right: 3em; 
	margin-top: 3em;
	min-width: 215px;
}

.search-container h3 {
	padding-bottom: .5em;
	letter-spacing: .05em;

}

.indv-search-container {
	max-width: 700px; 
	min-width: 215px;
	padding-right: 3em; 
	margin-top: 3em;
}

.indv-search-container h3 {
	padding-bottom: .5em;
	letter-spacing: .05em;

}

.entry-left-items-container {
	width: 50%;
	margin-right: 3em;
}

.entry-right-items-container {
	width: 50%;
	padding-right: 3em;
}

.catalog-project-list {
	border: 1px solid #DDD;
	box-shadow: 2px 2px 3px #888;
	/* -webkit-box-shadow: 2px 2px 3px #888; */
	-moz-box-shadow: 2px 2px 3px #888;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	line-height: 18px;
	margin-bottom: 20px;
	padding: 4px;
	max-width: 96%;
	min-width: 250px;
	background: 1px #F9F9F9;
	height: 210px;
	min-height: 210px;
	overflow: overlay;
	position: relative;
	/* color: #333; */
}

.image-position-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
}