.catalog-title {
	margin-top: 45px;
}

.project-field {
	color: #ed6d42;
}

.parent-container {
	display: flex;
	padding: 3em 8em 4em;
}

.entry-container{
	padding-left: 2em;
	padding-right: 2em;
}

.entry-lists-container {
	display: flex;
	justify-content: space-between;
}

.search-container {
	margin-top: 3em;
	min-width: 215px;
}

.search-container h3 {
	padding-bottom: .5em;
	letter-spacing: .05em;

}

.indv-search-container {
	max-width: 700px; 
	min-width: 215px;
	padding-right: 3em; 
	margin-top: 3em;
}

.indv-search-container h3 {
	padding-bottom: .5em;
	letter-spacing: .05em;

}

.entry-left-items-container {
	width: 50%;
	margin-right: 3em;
}

.entry-right-items-container {
	width: 50%;
	padding-right: 3em;
}

.catalog-project-list {
	border: 1px solid #DDD;
	box-shadow: 2px 2px 3px #888;
	/* -webkit-box-shadow: 2px 2px 3px #888; */
	-moz-box-shadow: 2px 2px 3px #888;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	line-height: 18px;
	margin-bottom: 20px;
	padding: 4px;
	max-width: 96%;
	width: 231px;
	background: 1px #F9F9F9;
	height: 210px;
	min-height: 210px;
	overflow: overlay;
	position: relative;
	/* color: #333; */
}

.catalog-project-list h3 {
	border-bottom: 1px solid inherit;
	height: 2.5em;
	font-size: initial;
}

.catalog-project-list p {
	margin-top: .5em;
	margin-bottom: .5em;
}

.agency-list h3 {
	margin-top: 1.5em;
}

.image-position-bottom {
	position: absolute;
	bottom: 0;
}

// Agency list sidebar /catalog/ page

.sidebar-agency-list {
	padding-top: 30px;
}

.sidebar-agency-list li {
	font-size: small;
	text-decoration: none;
}

.sidebar-agency-list button {
	font-weight: 500;
	color: #205493;	
}	

.sidebar-agency-list button:hover {
	font-weight: 500;
	color: #205493;	
}

.catalog-agency-list ul {
	padding-left: 0px;
}




