.project-field {
	color: #ed6d42;
}

.catalog-indv-page-left {
	
}

.catalog-indv-page-right {
	
}

.parent-container {
	display: flex;
	padding: 3em 8em 4em;
}

.entry-container{
	padding-left: 2em;
	padding-right: 2em;
}

.entry-lists-container {
	display: flex;
	justify-content: space-between;
}

.search-container {
	width: 700px; 
	padding-right: 3em; 
	margin-top: 3em;
}

.search-container h3 {
	padding-bottom: .5em;
	letter-spacing: .05em;

}

.entry-left-items-container {
	width: 50%
}

.entry-right-items-container {
	width: 50%;
	padding-right: 3em;
}