.image-in-post-body {
  float: right;
  margin-left: 2em;
  width: 410px
}

.image-in-post-body-left {
  float: left;
  margin-right: 2em;
  width: 410px
}

.image-caption {
	font-size: 1.3rem;
	font-style: italic;
}

.blog-list-image {
	height: 220px;
	overflow: hidden;
}

.center-top {
	background-position: center -15em;
}

.center-top-eight {
	background-position: center -8em;
}

.center-top-twenty {
	background-position: center -20em;
}

.hide {
	display: none;
}