.toolkit-nav {
	background-color: #F3F2F3;
	padding: 1em;
	margin-bottom: 0;
}

.wp-caption {
	border: 1px solid #DDD;
	box-shadow: 2px 2px 3px #888;
	/* -webkit-box-shadow: 2px 2px 3px #888; */
	-moz-box-shadow: 2px 2px 3px #888;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	line-height: 18px;
	margin-bottom: 20px;
	padding: 4px;
	padding-top: 22px;
	text-align: center;
	max-width: 96%;
	background: 1px #F9F9F9;
	/* color: #333; */
}

.case-study-list {
	border: 1px solid #DDD;
	box-shadow: 2px 2px 3px #888;
	/* -webkit-box-shadow: 2px 2px 3px #888; */
	-moz-box-shadow: 2px 2px 3px #888;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	line-height: 18px;
	margin-bottom: 20px;
	padding: 4px;
	padding-top: 22px;
	max-width: 96%;
	background: 1px #F9F9F9;
	height: 345px;
	/* color: #333; */
}