---
layout: base
---
<section class="usa-grid usa-section">
    <h1 class="page-heading">Latest News</h1>
    {% for post in site.posts %}
    <div class="usa-grid  blog-section">
        <div class="usa-width-one-third"><img src="{{ post.image | prepend: site.baseurl }}" alt="{{ post.title }}"   title="{{ post.title }}"></div>
        <div class="usa-width-two-thirds">
      <ul>
          <li>
            <h3>
              <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h3>
            Author: {{ post.author}}</br>
            {{ post.date | date_to_long_string }}
            {{ post.excerpt | truncatewords: 50 }}
          </li>
      </ul>
    </div>
  </div>
        {% endfor %}

</section>

{% include contact.html %}
