---
layout: catalog-base
---

<div class="usa-grid">
  <div>
    <h2 class="catalog-title">{{ page.title }}</h2>
    <h3>
      Number of Projects:
      <span class="project-count">
        {% include catalog-all-project-count.html %}
      </span>
    </h3>
    <a class="usa-button" href="{{ site.url }}/feed.csv">Download as CSV</a>
	  <a class="usa-button" href="{{ site.url }}/feed.json">Download as JSON</a>
  </div>
</div>

<div class="parent-container">
  <div class="search-container">
    <aside><h3>Search Projects</h3>
      <div>
        {% include catalog-search-box.html %}
      </div>
			<br>
			<hr>
			<br>
			<div class="sidebar-agency-list">
      <h3>Filter Projects</h3>
        {% include catalog-filters.html %}
      </div>
    </aside>
  </div>

  <div class="entry-container">
    {% assign sorted = site.catalog-projects | sort: 'cartodb_id' | reverse %}
    {% for item in sorted %}
    <div class="usa-width-one-third catalog-project-list" data-project-topic="{{item.project_topic}}" data-project-status="{{item.status}}" data-project-agency="{{item.agency_sponsor}}">
      <article class="agency-list-article">
        <div class="infos">
          <a href="{{ item.url | prepend: site.baseurl }}">
            <h3 class="title">{{ item.project_name | truncatewords: 5 }}</h3>
          </a>
          {% include catalog-list-project-status.html %}
          <p><span class="project-field">Geographic Scope: </span>{{ item.geographic_scope | truncatewords: 7 }}</p>

          <div class="image-position-bottom">{% include catalog-list-logo.html %}</div>
        </div>
      </article>
    </div>
    {% endfor %}
  </div>

</div>
