---
layout: catalog-base
---

<div class="usa-grid">
<div>
<h2 class="catalog-title">{{ page.title }}</h2>
</div>
</div>

<div class="parent-container">


 <div class="search-container">
    <aside>
      <h3>Find A Project</h3>
      <div>
      	{% include catalog-search-box.html %}
	  </div>
	  <div>
        {% include catalog-filters.html %}
      </div>		
    </aside>
  </div>

<div class="entry-container">

{% for item in site.catalog-projects %}
				<div class="usa-width-one-third catalog-project-list">
						<article class="agency-list-article">
								<div class="infos">
										<a href="{{ item.url | prepend: site.baseurl }}">
										<h3 class="title">{{ item.project_name | truncatewords: 5 }}</h3></a>
											{% include catalog-list-project-status.html %}
											<p><span class="project-field">Geographic Scope: </span>{{ item.geographic_scope }}</p>
										
										<div class="image-position-bottom">{% include catalog-list-logo.html %}</div>
								</div>
						</article>
		</div>
{% endfor %}
</div>
</div>
</div>
