---
layout: catalog-base
---

<div class="parent-container">

 <div class="search-container">
    <aside>
      <h3>Find A Project</h3>
      <div>
        {% include catalog-search-box.html %}
      </div>
      <div>
        {% include catalog-filters.html %}
      </div>    
    </aside>
  </div>

  <div class="entry-container">
    <div class="entry-header-container">
      <h2>
          {{ page.project_name }}
      </h2>
      <p>{{ page.project_description }}</p>
    </div>
    <div class="entry-lists-container">
      <div class="entry-left-items-container">
        <p><span class="project-field">Project URL: </span><a href="{{ page.project_url }}" target="blank" rel="noopener">{{ page.project_url }}</a>
        <p><span class="project-field">Geographic Scope: </span>{{ page.geographic_scope }}</p>
        {% include catalog-project-status-recruitment.html %}
        {% include catalog-participation-tasks.html %}
        <p><span class="project-field">Start Date: </span>{{ page.start_date }}</p>
        <p><span class="project-field">Project Contact: </span>{{ page.email }}</p>
      </div>

      <div class="entry-right-items-container">
        {% include agency-logos.html %}
        <p><span class="project-field">Other Federal Government Sponsor: </span>{{ page.agency_sponsor_other }}</p>
        <p><span class="project-field">Fields of Science:</span> {{ page.project_topic }}</p>
        {% include intended-outcomes.html %}
      </div>
    </div> 
  </div>

</div>

