---
layout: catalog-base
---

<div class="usa-grid">
<div>
<h2 class="catalog-title">{{ page.title }}</h2>
<h3>Number of Projects: {% include catalog-all-project-count.html %}</h3>
</div>
</div>

<div class="parent-container">


 <div class="search-container">
    <aside>
    	<h3>Find A Project</h3>
      <div>
        {% include catalog-search-box.html %}
      </div>
      <div class="">
        <fieldset class="usa-fieldset-inputs usa-sans">
          <legend class="usa-sr-only">Historical figures 1</legend>
          <ul class="usa-unstyled-list">
            <li>
              <input id="active-projects" type="checkbox" name="active-projects" value="active" checked>
              <label for="active">Active</label>
            </li>
            <li>
              <input id="completed-projects" type="checkbox" name="completed-projects" value="completed" checked>
              <label for="completed">Complete</label>
            </li>
          </ul>
        </fieldset>
      </div>
	  <div>
        {% include catalog-filters.html %}
      </div>
    </aside>
  </div>

<div class="entry-container">
{% assign sorted = site.catalog-projects | sort: 'cartodb_id' | reverse %}
{% for item in sorted %}
				<div class="usa-width-one-third catalog-project-list">
						<article class="agency-list-article">
								<div class="infos">
										<a href="{{ item.url | prepend: site.baseurl }}">
										<h3 class="title">{{ item.project_name | truncatewords: 5 }}</h3></a>
											{% include catalog-list-project-status.html %}
											<p><span class="project-field">Geographic Scope: </span>{{ item.geographic_scope | truncatewords: 8 }}</p>

										<div class="image-position-bottom">{% include catalog-list-logo.html %}</div>
								</div>
						</article>
		</div>
{% endfor %}
</div>
</div>
</div>
