---
layout: toolkit-base
---


<div class="usa-grid usa-section usa-content">
  <aside class="usa-width-one-fourth">
    <ul class="usa-sidenav-list">
      {% for project in site.how-to-steps %}
          <li>
            {% if page.permalink == project.permalink %}
              <a class="usa-current" href="{{ project.permalink | prepend: site.baseurl }}">{{ project.title }}</a>
            {% else %}
              <a href="{{ project.permalink | prepend: site.baseurl }}">{{ project.short_title }}</a>
            {% endif %}
          </li>
      {% endfor %}
    </ul>
  </aside>
  <div class="usa-width-three-fourths usa-content" id="main" tabindex="-1">
    {{ content }}
  </div>
</div>

